# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.mo
*.db
db.sqlite3
media/

# IDE / Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage / testing
.coverage
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/

# Static files
staticfiles/
